.container {
  width: 90%;
  height: 500px;
  margin: 5%;
  border: 1px solid red;
}

.slick-list {
  width: 50%;
}

.slick-slide {
  height: 500px;
  box-sizing: border-box;
}

.slick-slide img {
  object-fit: cover;
  height: 500px;
  height: 500px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.slick-dots {
  width: 50%;
}

.slick-prev {
  position: absolute;
}

.slick-arrow {
  background-color: red;
}
